
<div class="wrapper">

  <aside>
    <div class="me">
      <h1 trn="0000000001"></h1>
      <p trn="0000000002"></p>
    </div>
    <figure>
      <div>
        <img src="./view/pages/cv/ja.webp" >
      </div>
      <figcaption>
        <div>
          <p>+ 48 530 105 360</p>
          <p>magierskibartek@outlook.com</p>
        </div>
      </figcaption>
    </figure>
  </aside>

  <div class="cv">
    <div class="opis">
      <p trn="0000000003"></p>  
    </div>
    <!-- Praca -->
    <div class="work cvSection">
      <h2 class="title" trn="0000000004"></h2>
      
      <!-- Deputo -->
      <div class="job">
        <h4 class="company">Deputo</h4>
        <p class="position" trn="0000000005"></p>
        <p class="date">01-06-2022 / 01.04.2024</p>
        <div class="describe">
          <p trn="0000000006"></p>
        </div>
      </div>

      <!-- Ptvs -->
      <div class="job">
        <h4 class="company">Polska Telewizja Społeczna</h4>
        <p class="position" trn="0000000007"></p>
        <p class="date">01-09-2021 / 01-10-2022</p>
        <div class="describe">
          <p trn="0000000008"></p>
        </div>
      </div>

      <!-- Datalizad -->
      <div class="job">
        <h4 class="company">Datalizard Polska</h4>
        <p class="position" trn="0000000009"></p>
        <p class="date">01-18-2021 / 01-04-2021</p>
        <div class="describe" >
          <p trn="0000000010"></p>
        </div>
      </div>

      <!-- Hilfemed -->
      <div class="job">
        <h4 class="company">Hilfemed</h4>
        <p class="position" trn="0000000011"></p>
        <p class="date">01-10-2020 / 10-12-2020</p>
        <div class="describe">
          <p trn="0000000012"></p>
        </div>
      </div>
      
      <!-- Podobno -->
      <div class="job">
        <h4 class="company">Podobno, Agencja kreatywna</h4>
        <p class="position" trn="0000000013"></p>
        <p class="date">01-06-2017 / 01-09-2020</p>
        <div class="describe">
          <p trn="0000000014"></p>
        </div>
      </div>

      <!-- Codeteam -->
      <div class="job">
        <h4 class="company">Codeteam</h4>
        <p class="position" trn="0000000015"></p>
        <p class="date">01-05-2017 / 01-06-2017</p>
        <div class="describe">
          <p trn="0000000016"></p>
        </div>
      </div>
      

    <div class="skils cvSection">
      <h2 class="title" trn="0000000017"></h2>
      <div class="list">
        <p trn="0000000018"></p>
      </div>
    </div>
    <!-- rodo -->
    <div class="rodo">
      <p trn="0000000021"></p>
    </div>
  </div>
</div>
