<div class="wrapper">
  <div class="bannerWrapper">
    <div class="bannerInner">
      <!--About-->
      <div class="about">
        <h1 trn="0000000me1"></h1>
        <p trn="0000000me2"></p>
        <button trn="0000000me3" ref="formTrigger"></button>
      </div>
      <!--Image-->
      <div class="image">
        <div class="wrapper">
          <img src="./view/pages/main/ja.webp" />
        </div>
      </div>
    </div>
  </div>
  <!--Portfolio-->
  <div class="listWapper">
    <div class="titleWrapper">
      <h3 trn="0000000me9"></h3>
    </div>
    <div class="list" ref="pList">
      <!-- List of projects -->
    </div>
  </div>
  <!--Describe-->
  <div class="about">
    <div class="title">
      <h3 trn="0000000m10"></h3>
    </div>
    <div class="words">
      <article>
        <h4 class="wordTitle" trn="0000000me5"></h4>
        <p trn="0000000me4"></p>
      </article>
      <article>
        <h4 class="wordTitle" trn="0000000me6"></h4>
        <div>
          <p trn="0000000me7"></p>
          <p trn="0000000me8"></p>
          <p trn="000000me11"></p>
        </div>
      </article>
      <article>
        <h4 class="wordTitle" trn="000000me12"></h4>
        <div>
          <p trn="000000me13"></p>
          <p trn="000000me14"></p>
          <p trn="000000me15"></p>
          <p trn="000000me16"></p>
          <p trn="000000me17"></p>
        </div>
      </article>
    </div>
  </div>
</div>