&[css='default'] {
  padding: .5rem;;
  background-color: @c[grayBox];
  box-sizing: border-box;
  .wrapper{
    width: @contentWidth;
    margin: auto;
    text-align: right;
    p {
      font-size: .7rem;
    }
  }
  @media screen {
    @media (max-width: 1000px) {
      padding: 2vw 4vw;
      .wrapper {
        width: auto;
        margin: unset;
        p {
          font-size: 2vw;
        }
      }
    }
  }


}