&[css='main']{
  & > .wrapper {
    width: 100vw;
    .bannerWrapper {
      background-color: #f5f6f7;
      background-image: linear-gradient(54deg, rgba(255, 131, 122, 0.25), rgba(255, 131, 122, 0) 28%), linear-gradient(241deg, rgba(239, 152, 207, 0.25), rgba(239, 152, 207, 0) 36%);
      .bannerInner{
        padding: @space 0rem;
        display: grid;
        grid-template-columns: 40rem 20rem;
        gap: 10rem;
        justify-content: center;
        align-items: center;
        .about {
          p {
            padding: 1rem;
          }
          button {
            border-radius: 4px;
          }
         
        }
        .image {
          height: 266px;
          .wrapper {
            position: relative;
            height: inherit;
            border-radius: 4px;
            overflow: hidden;
            img{
              position: absolute;
              width: 100%;
              height: auto;
            }
          }
        }
      }

      @media screen {
        @media (max-width: 1000px) {
          .bannerInner {
            grid-template-columns: 100%;
            justify-content: normal;
            gap: 0;
            position: relative;
            padding: 0;
            .about {
              padding: 4vw;
              p {
                padding: 4vw 3vw;
              }
            }
            .image {
              position: absolute;
              width: 30rem;
              height: $width;
              top: 0;
              right: 0;
              overflow: hidden;
              .wrapper {
                border-radius: 100%;
                transform: translate(5rem,-4rem);
              }
            } 
          }
        }
      }
      
    }
    // Portfolio
    .listWapper {
      width: @contentWidth;
      margin: auto;
      box-sizing: border-box;
      padding: @space 0;
      & .list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: @space;
        padding: @space;
        grid-auto-flow: row;
        // Every list item
        & > div {
          border: solid @c[mainFont];
          .poster {
            background-color: @c[grayBox];
            height: 200px;
            div {
              position: relative;
              width: 100%;
              height: 100%;
              text-align: center;
              overflow: hidden;
              img {
                width: auto;
                height: 100%;
              }
            }
          }
          .describe {
            padding: 1rem; 
          }
          .go {
            button {
              width: 100%;
              border-radius: 0;
              border: none;
              background-color: @c[button1];
              &:hover {
                transform: none;
                color: #fff;
                background-color: @c[accent];
              }
            }
          }
        }
      }

      @media screen {
        @media (max-width: 1000px) {
          width: 100vw;
          padding: 4vw;
          & .list {
            grid-template-columns: repeat(2, 1fr);
            padding: 4vw;
            gap: $padding;
            & > div {
              .poster {
                height: 20vh;
              }
              .describe {
                padding: 2vw;
              }
              .go {
                button {
                  padding: 2vw;
                }
              }
            }
          } 
        }
      }

    }
    & > .about {
      width: @contentWidth;
      margin: auto;
      .words {
        padding: @space;
        article {
          .wordTitle {
            padding-bottom: 1rem;
          }
          p {
            padding-left: 1rem;
            text-align: justify;
            overflow-wrap: break-word;
            hyphens: auto;
            &:nth-of-type(n+1):not(:nth-of-type(1)){
              padding-top: 1rem;
            }
          }
          &:nth-of-type(n+1):not(:nth-of-type(1)) {
            padding-top: @space;
          }
        }
      }

      @media screen {
        @media (max-width: 1000px) {
          width: 100vw;
          padding: 4vw;
          margin: unset;
          box-sizing: border-box;
          .words {
            padding: 4vw;
            article {
              .wordTitle {
                padding-bottom: 2vw;
              }
              p {
                padding-left: 2vw;    
                &:nth-of-type(n+1):not(:nth-of-type(1)){
                  padding-top: 2vw;
                }          
              }
              &:nth-of-type(n+1):not(:nth-of-type(1)) {
                padding-top: 4vw;
              }
            }
          }
        }
      }

    }
  }
}